<section class="w-1/2 mx-auto bg-gray-50 rounded border shadow p-4">
  <h1 class="text-3xl text-center text-green-600 font-light">Verify Otp</h1>
  <form [formGroup]="VerifyOtp">
    <div class="mb-1">
      <label
        for="Otp"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Otp Code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="Otp"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <button class="btn-main">Verify</button>
  </form>
</section>
