<section class="w-1/2 mx-auto bg-gray-50 rounded border shadow p-4">
  <h1 class="text-3xl text-center text-green-600 font-light">LogIn Now</h1>
  <form [formGroup]="login">
    <div class="mb-1">
      <label
        formControlName="email"
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <div class="mb-1">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >password</label
      >
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>


    <div class="flex justify-between mt-3">
      <div class="flex items-center mb-3">
        <input
          type="checkbox"
          class="border-green-600 accent-green-600"
        />
        <span class="text-sm ms-2">Remember Me</span>
      </div>
      <a
        routerLink="/forgetPass"
        class="underline text-sm text-main-color"
        >Forgot Password?</a
      >
    </div>

    <button class="btn-main">Log In</button>
  </form>

  <p class="mt-5 pb-5 text-center">
    Don't have an account ?
    <a [routerLink]="['/register']" class="underline text-green-600"
      >Sing up</a
    >
  </p>
</section>
