<section class="w-1/2 mx-auto bg-gray-50 rounded border shadow p-4">
  <h1 class="text-3xl text-center text-green-600 font-light">Register Now</h1>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="mb-1">
      @let nameControl = registerForm.get('name');
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >User Name</label
      >
      <div class="relative">
        <input
          formControlName="name"
          placeholder="User Name"
          type="text"
          id="name"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
          <i class="fa-regular fa-user"></i>
        </span> -->
      </div>

      @if (nameControl?.errors && nameControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (nameControl?.getError('required')) {
            <li>Name is Required</li>
            } @if (nameControl?.getError('minlength')) {
            <li>Name MinLength is : 3</li>
            } @if (nameControl?.getError('maxlength')) {
            <li>Name Maxlength is : 25</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-1">
      @let emailControl = registerForm.get('email');

      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <div class="relative">
        <input
          formControlName="email"
          placeholder="Email"
          type="email"
          id="email"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
          <i class="fa-regular fa-envelope fa-1"></i>
        </span> -->
      </div>
      @if (emailControl?.errors && emailControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>Email is required</li>
            }@else if (emailControl?.getError('pattern')) {
            <li>Enter Valid Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-1">
      @let passwordControl = registerForm.get('password');
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      <div class="relative">
        <input
          formControlName="password"
          placeholder="Password"
          type="password"
          id="password"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
        <i class="fa-solid fa-lock fa-1"></i>
      </span> -->
      </div>
      @if (passwordControl?.errors && passwordControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (passwordControl?.getError('required')) {
            <li>password is required</li>
            }@else if (passwordControl?.getError('pattern')) {
            <li>Enter Valid password</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-1">
      @let rePasswordControl = registerForm.get('rePassword');

      <label
        for="repassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Repassword</label
      >
      <div class="relative">
        <input
          formControlName="rePassword"
          placeholder="RePassword"
          type="password"
          id="repassword"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
        <i class="fa-solid fa-lock fa-1"></i>
      </span> -->
      </div>
      @if (registerForm.getError('mismatch')&& rePasswordControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>Password Confirmation must match</li>
          </ul>
        </div>
      </div>
      } @if (rePasswordControl?.getError('required') &&
      rePasswordControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>Password Confirmation is required</li>
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-1">
      @let phoneControl = registerForm.get('phone');
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Phone</label
      >
      <div class="relative">
        <input
          formControlName="phone"
          placeholder="Phone"
          type="tell"
          id="phone"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
        <i class="fa-solid fa-phone"></i>
      </span> -->
      </div>
      @if (phoneControl?.errors && phoneControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (phoneControl?.getError('required')) {
            <li>phone is required</li>
            }@else if (phoneControl?.getError('pattern')) {
            <li>Enter Valid phone</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="flex items-center my-5">
      <input
        type="checkbox"
        class="border-green-600 accent-green-600"
        formControlName="terms"
      />
      <span class="text-sm ms-2 text-text-color"
        >I agree to the <span class="underline">Terms Of Conditions</span></span
      >
    </div>
    <button [disabled]="isLoading" type="submit" class="btn-main">
      Sign Up @if (isLoading) {
      <span>
        <i class="fa-solid fa-spinner fa-spin ms-2"></i>
      </span>
      }
    </button>
    @if (msgError) {
    <p class="bg-red-400 text-white px-2 py-4 border mt-2">{{ msgError }}</p>
    }
    @if (isSucess) {
      <p class="bg-green-400 text-white px-2 py-4 border mt-2">{{ isSucess }}</p>
      }
    <p class="mt-4 pb-8 text-center">
      Already have an account ?
      <a [routerLink]="['/login']" class="underline text-green-600">Login</a>
    </p>
  </form>
</section>
