<section>
  <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
    <div>
      <owl-carousel-o [options]="customMainOptions">
        <ng-template carouselSlide>
          <img src="/images/img1.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="/images/img2.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="/images/img3.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="/images/img4.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="/images/img5.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="/images/img6.avif" class="w-full h-[300px]" alt="" />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div>
      <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="" />
      <img
        src="/images/grocery-banner-2.jpeg"
        class="w-full h-[150px]"
        alt=""
      />
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-3xl text-center py-8">Popular Category</h2>
  <owl-carousel-o [options]="customOptions">
    @for (cat of categories; track cat._id) {
    <ng-template carouselSlide>
      <div class="px-1">
        <img [src]="cat.image" class="w-full h-[220px]" [alt]="cat.name" />
        <h3 class="text-green-600">{{ cat.name }}</h3>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</section>

<section class="container">
  <h2 class="text-3xl text-center py-8">Popular Products</h2>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10">
    @for (prod of products.slice(0,25); track prod.id) {
    <div
      class="card border border-green-400/50 rounded-md overflow-hidden shadow relative"
    >
      <div class="card-img">
        <img
          [src]="prod.imageCover"
          class="w-full h-[200px] object-contain"
          [alt]="prod.title"
        />
      </div>
      <div class="card-body px-2 py-4">
        <div>
          @if (prod.quantity) {
          <span class="text-green-900 font-semibold"> In Stock  {{prod.quantity}}</span> 
          }@else if (!prod.quantity) {
          <span class="text-red-500 font-semibold line-through">Out of stock 0</span>
          }
          <hr />
        </div>

        <div class="pt-2">
          <h4 class="text-green-500 text-xs">{{ prod.category.name }}</h4>
          <h3 class="text-medium">{{ prod.title.split(" ", 2).join(" ") }}</h3>
          <div class="flex justify-between items-center">
            <span>{{ prod.price }} EGP</span>
            <div class="flex items-center">
              <i class="fas fa-star text-yellow-300"></i>
              <span class="text-gray-500"> {{ prod.ratingsAverage }}</span>
            </div>
          </div>
        </div>
      </div>

      <button
        class="bg-green-400 py-1 px-7 border rounded w-[90%] block mx-auto"
      >
        Add To Cart
      </button>
    </div>
    }
  </div>
</section>
