.card {
  button {
    transform: translateY(100%);
    transition: all 0.5s;
    opacity: 0;
  }
  &:hover {
    button {
      transform: translateY(0);
      opacity: 1;
      // background-color: rgb(80, 169, 80);
    }
  }
}

.container {
  padding-inline: {
    start: 6rem !important;
    end: 6rem !important;
  }
}